.about {
	padding-bottom: 144px;
	// .about__wrapper

	&__wrapper {
		background-color: #fff;
		border: 1px solid #d7d7d7;
	}

	// .about__title

	&__title {
		color: #444444;
		font-size: 24px;
		font-weight: 500;
		padding: 19px 28px 22px;
		border-bottom: 1px solid #d7d7d7;
	}

	// .about__content

	&__content {
		padding: 40px 50px 53px;
	}

	// .about__item

	&__item {
		h3 {
			font-size: 20px;
			margin-bottom: 15px;
			color: #444444;
			font-weight: 700;
		}
		p {
			font-size: 15px;
			line-height: 24px;
			color: #707070;
		}
		& + .about__item {
			margin-top: 48px;
		}
	}
}
