.error {
	color: #fff;
	margin-bottom: 150px;
	// .error__wrapper

	&__wrapper {
		border: 1px solid #d7d7d7;
	}

	// .error__title

	&__title {
		color: #444444;
		font-size: 24px;
		font-weight: 500;
		padding: 19px 28px 22px;
		background-color: #fff;
	}

	// .error__content

	&__content {
		background-color: $green;
		padding: 64px 15px 101px;
	}

	&__content-wrapper {
		max-width: 700px;
		margin: 0 auto;
	}
	// .error__content-error

	&__content-error {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
	}

	// .error__content-title

	&__content-title {
		font-family: "OpenSans";
		font-weight: 800;
		font-size: calc(60px + 240 * (100vw / 1920));
		font-weight: 700;
		margin-right: 18px;
	}

	// .error__content-img

	&__content-img {
		max-width: calc(80px + 212 * (100vw / 1920));
		img {
			width: 100%;
		}
	}

	// .error__subtitle

	&__subtitle {
		font-family: "OpenSans";
		font-weight: 400;
		font-size: calc(20px + 10 * (100vw / 1920));
		letter-spacing: 6px;
		text-align: center;
		margin-bottom: 28px;
		line-height: 1.2;
	}

	// .error__descr

	&__descr {
		font-family: "Raleway";
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		max-width: 530px;
		margin: 0 auto 56px;
	}

	// .error__bt

	&__btn {
		font-family: "Raleway";
		font-weight: 700;
		display: block;
		color: #fff;
		transition: 0.4s ease;
		max-width: 210px;
		width: 100%;
		padding: 20px 15px;
		text-align: center;
		text-transform: uppercase;
		background-color: $green;
		border: 2px solid #ffffff;
		border-radius: 4px;
		font-size: 14px;
		margin: 0 auto;
		&:hover {
			color: $green;
			background-color: #fff;
		}
	}
}
